<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">私のニックネームは<%= @user.nickname %>　です</h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="" alt="ユーザ画像">
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li><a href="#">出品成果物一覧</a></li>
      <!--<li><a href="#">Followings</a></li>-->
      <!--<li><a href="#">Followers</a></li>-->
    </ul>
  </div>
</div>