
<div class="container">
  <div class="row mainlogo">
    <div class="col-md-12"></div>
  </div>
  
  <div class="row items">
    <div class="col-md-3 col-sm-3 col-xs-6">バージョン１</div>
    <div class="col-md-3 col-sm-3 col-xs-6">バージョン１</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
    <div class="col-md-3 col-sm-3 col-xs-6">商品ページ</div>
  </div>
</div>