
<div class="container">
  <div class="row mainlogo">
    <div class="col-md-12"></div>
  </div>
  
<!--------------------------------------------------------->
  
  <% if logged_in? %>
  <p>ログインできています　あなたのニックネームは　 <%= current_user.nickname %>　ですね。　</p>
  <% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <p>ログインしていません。</p>
    </div>
  </div>
  <% end %>

<!--------------------------------------------------------->
  
  <div class="row items">

     <% @productions.each do |production| %>
      
      <%= link_to production do %>
      
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          
          
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <!--<= production.production_picture %>-->
              <%= image_tag(production.production_picture) if production.production_picture.present? %>
              <!--<= image_tag(production.production_picture) %>-->
            </div>
            <div class="panel-body">
              <p class="item-title production-title"> <%= production.production_title %> </p>
            </div>
          
          </div>
          
          
        </div>
        
        
      </div>
      
      <% end %>
      
    <% end %>
    <!------------------------------------------------------------------------------>
    
    
    <!----------------------------------------------->
    <!--< @productions.each do |production| %>-->
    
    <!--  <div class="item">-->
    <!--    <div class="col-md-3 col-sm-4 col-xs-12">-->
    <!--      <div class="panel panel-default">-->
    <!--        <div class="panel-heading text-center">-->
    <!--          <img src="" alt="商品画像" >-->
    <!--          <= image_tag(production.production_picture) %>-->
    <!--        </div>-->
    <!--        <div class="panel-body">-->
    <!--          <p class="item-title"> <= production.production_title %> </p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
      
    <!--< end %>-->
      

    <!----------------------------------------------->


  </div>
</div>