 .row div {
      /*border: 1px solid #000;*/
      /*padding: 1em;*/
      text-align: center;
      background-color: #dedede;
    }
  .mainlogo div{
    height: 300px;
    background: url("/images/toppages-logo.jpg") center center no-repeat;
  }
  
  .mainlogo{
  margin-bottom: 20px;
}
  /*.items div{*/
  /*  border: 1px solid #000;*/
  /*  height: 200px;*/
  /*  margin: 40px;*/
  /*}*/
  
  

/*//------------------------------------< こっから下パクリ >--------------------------------*/


.item .panel-body {
  height: 70px;
}
.item .panel-heading {
  height: 250px;
}
.item .panel-heading img {
  height: 100%;
  max-width: 100%;
}
p.item-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}  

.production-title{
  font-size: 25px;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}

